*{
  margin: 0;
  padding: 0;
}
html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-y: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media only screen and (min-width: 320px) and (max-width: 479px){
  .deposit-date-row{
   margin-right: 2em;
   margin-top: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
  .deposit-date-row{
    margin-right: 2em;
    margin-top: 10px;
  }
}

.form-danger{
  border: 1px solid red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 9rem;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #28a745;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#FFC107;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(110px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 52%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.border-line{
  border-bottom: 1px solid #4f5962;
  width: 91%;
}

.user-box{
  margin-top: -2px;
  border:1px solid #46BE8A;
  background-color:#46BE8A ;
  color: #FFFFFFFF;
  padding: 2.5px;
  font-size: 13px;
  font-weight: 700;
}
.staff-box{
  margin-top: -2px;
  border:1px solid #62A8EA;
  background-color:#62A8EA ;
  color: #FFFFFFFF;
  padding: 2.5px;
  font-size: 13px;
  font-weight: 700;
}

.user-date-box{
  border:1px solid #46BE8A;
  background-color:#46BE8A ;
  color: #FFFFFFFF;
}
.staff-date-box{
  border:1px solid #62A8EA ;
  background-color:#62A8EA ;;
  color: #FFFFFFFF; 
}
.scroll-view-two{
  overflow-y: scroll;
  height: 90vh;

}

  .scrollbar-secondary-two::-webkit-scrollbar-track {
    box-shadow: transparent;
    border:none; 
  }
    
    .scrollbar-secondary-two::-webkit-scrollbar {
    width: 5px;
  }
    
    .scrollbar-secondary-two::-webkit-scrollbar-thumb {
    border: none;
    box-shadow:transparent;
    background-color: #d0d2d6;
  }


  /* Live-Chat Screen Start */
  .scrollbar-secondary-inbox::-webkit-scrollbar-track {
    box-shadow: transparent;
    border:none; 
  }
    
    .scrollbar-secondary-inbox::-webkit-scrollbar {
    width: 8px;
  }
    
  .scrollbar-secondary-inbox::-webkit-scrollbar-thumb {
    border: none;
    box-shadow:transparent;
    background-color: transparent;
  }
  /*  Live-Chat Screen End */



  .type-message{
  /* border-bottom: none;
  border-left:none;
  border-right: none; */
  border: 1px solid #d0d2d6;
  /* outline: none; */
  /* margin-top:9em; */
}

.text-box{
  /* display:inline-block; */
  position:relative;
}
.text-box-btn{
  position:absolute;
  bottom:10px;
  right:10px;
}
:root {
  --pretty-modal-modal-container-background-color:#161d31 ;
  --pretty-modal-modal-container-transform: translateX(-125rem);
  --pretty-modal-modal-container-border-radius: 0.6em;
}

